<!-- This example requires Tailwind CSS v2.0+ -->
<footer class="bg-gray-800">
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <p class="mt-2 text-center text-base text-gray-400">
      &copy; 2021 Guru SEO, Inc. All rights reserved.
    </p>
  </div>
</footer>
