---
layout: base.njk
title: Minimal boilerplate for new projects built with Eleventy, Tailwind and PostCSS
---

    {% include "hero.njk" %}
    {% include "features.njk" %}
    {% include "stats.njk" %}
    {% include "faq.njk" %}
    {% include "cta.njk" %}
    {% include "footer.njk" %}
    
